<!doctype html>
<html lang="fr"
xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layouts/main-layout}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>liste des fiches</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
  </head>
  <body>
	  
	    <main layout:fragment="content">
            <div class="row text-center mt-5">
                <h1>voici la liste des fiches compta</h1>
            </div>
            <div class="row mt-3">
                <div class="col-8 offset-2 bg-light">
                    <table class="table table-dark">
                        <thead >
                            <th>nom du patient</th>
                            <th>type</th>
                            <th class=" text-center">Action</th>
                        </thead>
                        <tbody class="table-light">
                            <tr th:each=" fiche: ${fiches}">
                                <td th:text="${fiche.nomPatient}"></td>
                                <td th:text="${fiche.localite}"></td>
                               
                                <td class=" text-center">
                                    <a class="btn btn-info" th:href="@{/user/fiche/detail(id=${fiche.id})}"><i > Detail</i></a>
                                    <a class="btn btn-warning" th:href="@{/user/fiche/modifier(id=${fiche.id})}"><i > Modifier</i></a>
                                </td>
                            </tr>
    
                        </tbody>
                    </table>
    
                </div>
    
    
            </div>
            
        </main>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>